---
import { dataGlobal } from "@utils/dataGlobal";
import LanguagePicker from "./LanguagePicker.astro";
---

<footer>
  <div class="footer-content">
    <LanguagePicker />
    <div class="footer-left">
      <p class="footer-text">
        <a
          href="https://github.com/pevalcar/qrtuapp"
          target="_blank"
          rel="noreferrer"
        >
          by Pevalcar
        </a>
      </p>
      <p class="footer-text">
        <a
          href="https://github.com/pevalcar/qrtuapp"
          target="_blank"
          rel="noreferrer"
        >
          {dataGlobal.title}
        </a>
      </p>
    </div>
    <div class="footer-right">
      <p class="footer-text">
        <a
          href="https://github.com/pevalcar/qrtuapp"
          target="_blank"
          rel="noreferrer"
        >
          <img
            src="https://img.shields.io/github/stars/pevalcar/qrtuapp?style=social"
            alt="GitHub Repo stars"
          />
        </a>
      </p>
      <p class="footer-text">
        <a
          href="https://github.com/pevalcar/qrtuapp/issues"
          target="_blank"
          rel="noreferrer"
        >
          <img
            src="https://img.shields.io/github/issues/pevalcar/qrtuapp?style=social"
            alt="GitHub issues"
          />
        </a>
      </p>
      <p class="footer-text">
        <a
          href="https://github.com/pevalcar/qrtuapp/blob/master/LICENSE"
          target="_blank"
          rel="noreferrer"
        >
          <img
            src="https://img.shields.io/github/license/pevalcar/qrtuapp?style=social1"
            alt="GitHub license"
          />
        </a>
      </p>
    </div>
  </div>
</footer>
