---
import { LoginButton } from "@components/LoginButton";
import SwitchDarMod from "@sections/SwitchDarMod.astro";
import { dataGlobal } from "@utils/dataGlobal";
import { getLangFromUrl, useTranslations } from "../i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<header class="w-full flex-col items-center justify-center py-8">
  <nav class="flex justify-between gap-4 px-4">
    <SwitchDarMod />
    <LoginButton client:only="preact" />
  </nav>
  <h1 class="title">
    {dataGlobal.title}
  </h1>
  <div>
    <p class="subtitle">
      {dataGlobal.DESCRIPTION}
    </p>
  </div>
</header>
