---
import Footer from "@components/Footer.astro";
import "../styles/app.css";
import { getLangFromUrl } from "@i18n/utils";
export interface Props {
  title: string;
  themeColor?: string;
}

const lang = getLangFromUrl(Astro.url);

const { title, themeColor } = Astro.props;
---

<!doctype html>
<html lang={lang}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <meta name="theme-color" content={themeColor || "#ffffff"} />
    <title>{title}</title>
  </head>
  <body>
    <slot />
    <Footer />
  </body>
</html>

<script is:inline src="./assets/vendor/preline/dist/preline.js"></script>
<script>
  import "preline/dist/preline.js";
</script>
